{% extends 'shop/basic.html' %}
{% block title %} About Us{% endblock %}
{% block body %}


<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">My Shop Cart</h1>
      <p>At shopCart, we believe that shopping should be an experience, not a chore. That's why we've worked hard to bring together a curated selection of products that are not only high in quality but also represent the latest trends and innovations. Our mission is to provide you with the best products at the most competitive prices while offering exceptional customer service.</p>
      <p><a class="btn btn-primary btn-lg" href="/moreinfo" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Quality Assurance</h2>
        <p>we're committed to uncompromising quality. We partner with trusted suppliers, rigorously inspect every product, and ensure that they meet or exceed industry standards. Your satisfaction is our priority, and we stand behind the quality of every item you purchase. Shop with confidence. </p>
        <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
      </div>
      <div class="col-md-4">
        <h2>Competitive Prices</h2>
        <p>We know value matters. At shopCart, we offer you the most competitive prices without sacrificing quality. Our commitment is to make your shopping experience affordable and enjoyable. Shop with us for the best deals on high-quality products.</p>
        <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
      </div>
      <div class="col-md-4">
        <h2>Fast and Reliable Shipping</h2>
        <p>Experience swift, dependable shipping with shopCart. We prioritize your convenience, ensuring that your orders reach your doorstep quickly and securely. Trust us to deliver your purchases promptly, so you can enjoy them without delay. Shop now for a hassle-free shopping experience.</p>
        <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

<footer class="container">
  <p>&copy; Company 2017-2020</p>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script></body>
</html>


{% endblock %}